<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kalibracja</title>
    <div th:insert="~{fragments :: headers}"></div>
</head>
<body>
<div class="container">
<form action="#" th:action="@{/home/calibration-service/{id}(id=${procedureId})}" th:object="${calibrationFill}" method="post">
    <label for="deviceSerialNumber">Numer seryjny: </label>
    <input id="deviceSerialNumber" type="text" th:field="${calibrationFill.deviceSerialNumber}" />
    <p>
        <input type="submit" value="Rozpocznij"/>
    </p>
</form>
</div>
</body>
</html>