<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: headers}">
    <title id="pageTitle">Kalibracja</title>
</head>
<body>
<div class="container">
<h1 th:text="${procedureName}">Procedura</h1>
<form action="#" th:action="@{/home/calibration-service/{id}/{number}(id=${calibrationId}, number=${stepNumber})}" th:object="${stepFill}" method="post">
    <p>
        <input th:if="${isLastStep}" type="submit" value="Zakończ"/>
        <input th:unless="${isLastStep}" type="submit" value="Dalej"/>
    </p>
    <p><span th:text="${message}">Wiadomość kroku</span></p>
    <div th:if="${isInputStep}">
        <p>
            <span>Pomiar: </span><span th:text="${measurementName}">nazwa</span>
            <span>, symbol: </span><span th:text="${measurementSymbol}">symbol</span>
        </p>
        <p>
            <span>Parametry: </span><span th:text="${parameters}">parametry</span>
        </p>
    </div>
        <div th:if="${isInputStep}">
            <table class="table">
                <thead>
                <tr>
                    <th>Wartość referencyjna</th>
                    <th>Wartość urządzenia kalibrowanego</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="stepfillRow, itemStat : *{stepFillRows}">
                    <td th:if="${referenceValuesFromControlPoint}">
                        <input th:value="${referenceValue}" type="text" disabled/>
                    </td>
                    <td th:unless="${referenceValuesFromControlPoint}">
                        <input type="text" th:field="*{stepFillRows[__${itemStat.index}__].instrumentValue}" />
                    </td>
                    <td>
                        <input type="text" th:field="*{stepFillRows[__${itemStat.index}__].deviceValue}" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</form>
</div>
</body>
</html>