<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Przyrządy pomiarowe kalibrowane</title>
    <div th:insert="~{fragments :: headers}"></div>
</head>
<body>
<div class="container">
    <h1>Przyrządy pomiarowe kalibrowane</h1>
    <table class="table">
        <tr>
            <th>Model</th>
            <th>Akcje</th>
        </tr>
        <tr th:each="device : ${devices}">
            <td><span th:text="${device.model}">Model</span></td>
            <td>
                <a th:href="@{/home/calibration-service/{id}(id=${device.procedureId})}" class="btn btn-primary">Kalibruj</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>