<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="alert alert-danger">
        <h1 th:text="#{error.title}">Error</h1>
        <p th:text="#{error.message}">Error message</p>
    </div>
</div>
</body>
</html>